footer {
  position: relative;
  z-index: 1;
  background: linear-gradient(to right, #1a1a1a, #2c2c2c);
}
footer h5, i{
color: #00a35b;
}

.footer-links li {
  margin-bottom: 0.5rem;
  transition: transform 0.2s;
}

.footer-links li:hover {
  transform: translateX(5px);
}

.footer-links a {
  transition: color 0.2s;
}

.footer-links a:hover {
  color: #00a35b !important;
}

.social-icons a {
  transition: color 0.2s;
}

.social-icons a:hover {
  color: #00a35b !important;
}

.btn-primary {
  background-color: #00a35b;
  border-color: #00a35b;
  transition: all 0.3s;
}

.btn-primary:hover {
  background-color: #01694b;
  border-color: #01694b;
  transform: translateY(-2px);
  box-shadow: 0 4px 6px rgba(0, 0, 0, 0.1);
}

input.form-control {
  background-color: rgba(255, 255, 255, 0.1);
  /* border: 1px solid rgba(255, 255, 255, 0.2);
  color: white; */
}

input.form-control::placeholder {
  color: rgba(255, 255, 255, 0.5);
}

input.form-control:focus {
  background-color: rgba(255, 255, 255, 0.2);
  box-shadow: none;
  border-color: #00a35b;
}