.ad-container {
  position: sticky;
  top: 130px;
  height: calc(100vh - 130px);
  overflow-y: auto;
}

.ad-space {
  box-shadow: 0 2px 5px rgba(0, 0, 0, 0.1);
}

.ad-space h5 {
  margin-bottom: 0.5rem;
  color: #6c757d;
}

.recipe-content {
  font-family: 'Arial', sans-serif;
  color: #333;
  max-width: 800px;
  margin: 0 auto;
}

.recipe-header {
  text-align: center;
  margin-bottom: 20px;
}

.recipe-title {
  color: #2c3e50;
  margin-bottom: 15px;
}

.recipe-image {
  max-width: 100%;
  height: auto;
  border-radius: 8px;
  box-shadow: 0 4px 8px rgba(0, 0, 0, 0.1);
}

.recipe-info {
  background-color: #f9f9f9;
  border-radius: 8px;
  padding: 15px;
  margin-bottom: 20px;
}

.recipe-meta {
  display: flex;
  justify-content: space-around;
  margin-bottom: 10px;
}

.recipe-meta span {
  display: flex;
  align-items: center;
}

.recipe-meta .fa-icon {
  margin-right: 5px;
  color: #3498db;
}

.recipe-description {
  font-style: italic;
  text-align: center;
}

.recipe-main {
  display: flex;
  gap: 30px;
}

.ingredients-section,
.instructions-section {
  flex: 1;
}

.ingredients-section h3,
.instructions-section h3 {
  color: #2980b9;
  margin-bottom: 15px;
  display: flex;
  align-items: center;
}

.ingredients-section h3 .fa-icon,
.instructions-section h3 .fa-icon {
  margin-right: 10px;
}

.ingredients-list,
.instructions-list {
  padding-left: 20px;
}

.ingredients-list li,
.instructions-list li {
  margin-bottom: 10px;
  line-height: 1.6;
}


@media (max-width: 768px) {
  .recipe-main {
    flex-direction: column;
  }
}