.numStepper{
 background-image: url('/images/icon10.png');
   background-size: contain;
  background-position: center;
  background-repeat: no-repeat;
  filter: grayscale(100%);
}
.doneStepper{
  filter: grayscale(0%);
}
.fade {
  transition: opacity 0.15s linear;
}

.fade.modal-open {
  opacity: 1;
}