/* styles.css */
.suggestions-list {
    list-style-type: none;
    padding: 0;
    margin-top: 40px;
    max-height: 150px;
    /* גובה מקסימלי */
    overflow-y: auto;
    /* גלילה */
    background-color: white;
    position: absolute;
    z-index: 10;
    width: 100%;
    box-shadow: 0 4px 8px rgba(0, 0, 0, 0.1);
    transition: all 0.3s ease;
}

.suggestions-list li {
    padding: 10px;
    cursor: pointer;
    display: flex;
    justify-content: space-between;
    align-items: center;
    transition: background-color 0.2s;
}

.suggestions-list li:hover {
    background-color: #d2f0e4;
}

.selected-suggestion {
    font-weight: bold;
    color: #00a35b;
    /* צבע מודגש */
}

.suggestions-list li button {
    background: none;
    border: none;
    color: rgb(0, 0, 0);
    cursor: pointer;
    /* font-weight: bold; */
    /* border: #00a35b 2px solid; */
    border-radius: 50%;
    transition: all 0.3s ease;
    padding: 5px;
    font-size: small;
    transform: rotate(45deg);
}

.suggestions-list li button:hover {
    transform: rotate(-45deg) ;
}

/* .suggestions-list::-webkit-scrollbar {
    width: 8px;
}

.suggestions-list::-webkit-scrollbar-thumb {
    background: #ccc;
    border-radius: 4px;
}

.suggestions-list::-webkit-scrollbar-thumb:hover {
    background: #aaa;
} */