.ad-container {
  position: sticky;
  top: 130px;
  height: calc(100vh - 130px);
  overflow-y: auto;
}

.ad-space {
  box-shadow: 0 2px 5px rgba(0, 0, 0, 0.1);
}

.ad-space h5 {
  margin-bottom: 0.5rem;
  color: #6c757d;
}

.board-title {
  font-weight: bold;
  color: #000000;
  margin: 1.5rem 0;
  text-align: center;
}

.board-title:after {
  content: '';
  display: block;
  width: 50px;
  height: 3px;
  background: #3498db;
  margin: 10px auto;
}

select.form-select {
  padding: 0.75rem 2rem;
  
}
select.form-select:focus {
  box-shadow: none;
  border-color: #007bff;
  
}
textarea.form-control:focus {
  box-shadow: none;
  border-color: #007bff;
}

.search-container-board {
  display: flex;
  align-items: center;
}

.search-container-board .form-control {
  border-top-right-radius: 0 !important;
  border-bottom-right-radius: 0 !important;
  border-color: #ced4da;
  box-shadow: none;
}
.search-container-board .form-control:focus {
  box-shadow: 0 0 0 3px rgba(0, 123, 255, 0.2);
  border-color: #007bff;
  outline: none;
}

.search-container-board .input-group-text {
  background-color: #007bff;
  color: #fff;
  border-top-left-radius: 0 !important;
  border-bottom-left-radius: 0 !important;
  border: 1px solid #007bff;
  cursor: pointer;
  transition: background-color 0.3s, border-color 0.3s;
}

.search-container-board .input-group-text:hover {
  background-color: #0056b3;
  border-color: #0056b3;
}

.search-container-board .input-group-text .bi {
  font-size: 1.2rem;
}

.hover-card {
    transition: transform 0.3s ease-in-out;
  }
  
  .hover-card:hover {
    transform: translateY(-5px);
  }
  
  .card-img-top {
    object-fit: cover;
    height: 200px;
  }
  
  .badge {
    font-size: 0.8rem;
  }
  
  /* .btn-light {
    background-color: #f8f9fa;
    border-color: #f8f9fa;
  } */
  
  /* .btn-light:hover {
    background-color: #e2e6ea;
    border-color: #dae0e5;
  } */
  .property-card {
    transition: all 0.3s ease;
    box-shadow: 0 4px 6px rgba(0, 0, 0, 0.1);
  }
  
  .property-card:hover {
    transform: translateY(-5px);
    box-shadow: 0 10px 20px rgba(0, 0, 0, 0.2);
  }
  
  .badge {
    font-size: 0.8rem;
    padding: 0.35em 0.65em;
  }
  
  .btn-primary {
    background-color: #007bff;
    border-color: #007bff;
  }
  
  .btn-primary:hover {
    background-color: #0056b3;
    border-color: #0056b3;
  }